---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Digimenu</title>
	</head>
	<body>
		<div>
			<h1 class='text-center font-[var(--font-heading)] text-6xl mt-8 mx-auto text-[var(--color-text-default)]'>Manheim Lions Menu</h1>
		</div>
		<br />
		<div>
			<h2 class='text-center font-[var(--font-heading)] text-4xl mt-8 mx-auto text-[var(--color-text-default)]'>Food</h2>
			<ul class="text-center mt-8 gap-2 text-2xl">
				<li>
					Cold or Grilled Ham & Cheese Sandwhich - $5.00
				</li>
				<li>
					Grilled Cheese - $4.00
				</li>
				<li>
					Tomato Soup - $4.00
				</li>
			</ul>
		</div>
		<div>
			<h2 class='text-center font-[var(--font-heading)] text-4xl mt-8 mx-auto text-[var(--color-text-default)]'>Beverages</h2>
			<ul class='text-center mt-8 gap-2 text-2xl'>
				<li>
					Soda (Coke products) - $1.00
				</li>
				<li>
					Bottled Water - $1.00
				</li>
				<li>
					Capri Sun - $1.00
				</li>
			</ul>
		</div>
		<div class="text-center mt-8">
			<p>Pay with cash or card!</p>
		</div>
	</body>
</html>
